<section id="welcome">
	<div class="container">
		<div id="heading"><%=image_tag "done-differently.png", :alt => "Web Design & Development" %></div>
	</div>
</section>

<div class="container">

	<section id="results">
		<%=image_tag "results-heading.png", :alt => "Results" %>
		<div class="box">
			<%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %>
			<div class="box-title">Built in Utah</div>
			<p>Built in Utah is a hub for Utah tech businesses</p>
		</div>
		<div class="box"></div>
		<div class="box last"></div>
	</section>


	<section id="portfolio">
		<%=image_tag "projects-heading.png", :alt => "Results" %>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box last"></div>
	</section>

</div>